@import "tailwindcss";




/* CSS variables for light/dark */
@layer base {
  :root {
    --background: 255 255 255;
    --foreground: 17 24 39;
  }
  .dark {
    --background: 17 24 39;
    --foreground: 243 244 246;
  }

.footer-solid {
    background-color: rgb(255 255 255); /* light mode */
  }

  .dark .footer-solid {
    background-color: rgb(24 24 27); /* dark mode (gray-900) */
  }
  body {
    @apply bg-[rgb(var(--background))] text-[rgb(var(--foreground))];
  }
}
